@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/*-----------------------------------------------------------------Home Page*/
/*---------------------------Home page title*/

/*---------------------------Text on home page*/

/*-----------------------------Enquire now button (home page)*/


/*------------------------------------------------------------------------Blog page*/
/*-------------------------------------Image 1 */
/*-------------------------------------Image 2*/
/*-------------------------------------Image 3*/
/*-------------------------------------Image 4*/
/*-------------------------------------Read more button*/
/*-------------------------------------Headings*/


/*-----------------------------------------------------------------------Blog Success Page*/
/*--------------------------Headings on blog success pages--*/
.blog-heading h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-transform: uppercase;
}

/*-----------------------------------------------------------------------Contact Page*/
/*-------------------------------------Form*/
/*-------------------------------------Send button*/
/*-------------------------------------Image*/

/*----------------------------------------------Kind Words Heading*/
/*-------------------------------------Clients comments*/
/*------------------------------------- Couples names*/


/*-----------------------------------------------------------------------Contact Me form Success page */


/*-------------------------------------footer on all pages*/

footer {
    padding-top: 5%;
    padding-bottom: 5%;
}

footer ul {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f3ece1;
    color: #9C99A3;
    text-align: center;
    list-style: none;
    display: flex;

}
/*-------------------------------------Facebook and Instagram thumbnails*/

/*-------------------------------------Legal info at bottom of every page*/