@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    background-color: #FFFBFC;
}

/*-----------------------------------------------------------------Home Page*/
/*---------------------------Home page title*/
.homeTitle {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Playfair Display', serif;
    background-color: #FFF0F6;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
}

/*---------------------------Text on home page*/
.homeText {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    background-color: #FFF7FA;
    color: #212B35;
    padding-right: 15px;
    padding-left: 15px;
}
/*-----------------------------Enquire now button (home page)*/
/*-------------------------Code from W3docs.com*/
.clickButton {
    display: inline-block;
        background-color: #E5C4D1;
        border-radius: 5px;
        border: 4px double #586271;
        color: #FFF0F6;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        position: relative;

}

.clickButton p {
    text-decoration: none;
    color: #FFF0F6;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

.contactBtn {
    text-decoration: none;
    color: #586271;
}

/*------------------------------------------------------------------------Blog page*/
.blogHeading {
    font-family: 'Playfair Display', serif;
    color: #586271;
    text-align: center;
    letter-spacing: 5px;
}

.thumbnail {
    padding-top: 40px;
    padding-bottom: 30px;
}

.thumbnail h4 {
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
color: #9C99A3;
text-transform: uppercase;
letter-spacing: 3px;
}

.thumbnail p {
    text-decoration: none;
    padding-bottom: 10px;
    text-align: center;
}

.readMore {
    text-decoration: none;
    color: #E5C4D1;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}


/*-----------------------------------------------------------------------Blog Success Page*/
/*--------------------------Headings on blog success pages--*/

.successBlog h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #586271;
    letter-spacing: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.successBlog p {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*-----------------------------------------------------------------------Contact Page*/
/*-------------------------------------Form*/
.formHeading  h1 {
  font-family: 'Playfair Display', serif; 
  color: #586271; 
  font-size: 200%;
  padding-top: 40px;
}
.form {
    padding-top: 50px;
}

/*-------------------------------------Send button*/

.sendButton {
    float: right;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    padding-top: 20px;
}
.sendText {
    text-decoration: none;
    color: #586271;
}


/*----------------------------------------------Kind Words Heading*/
.kindWords h1 {
font-family: 'Playfair Display', serif; 
  color: #586271; 
  font-size: 300%;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 30px;
}
/*-------------------------------------Clients comments*/

.review p {
    color: #586271;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;

}
/*------------------------------------- Couples names*/

.review h4 {
    color: #9C99A3;
    letter-spacing: 5px;
    font-family: 'Playfair Display', serif;
    float: right;
    padding-bottom: 30px;
}
/*-----------------------------------------------------------------------Contact Me form Success page */

.submit h1 {
    color: #586271;
    letter-spacing: 5px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-transform: uppercase;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 90px;
    padding-bottom: 70px;
}

/*-------------------------------------footer on all pages*/

.social {
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    background-color: #E5C4D1;
    display: flex;
    margin: auto;
    

}
.social ul {
    color: #9C99A3;
    text-align: center;
    list-style: none;
    background-color: #E5C4D1;
    margin: auto;
}

.social p {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 200%;
    letter-spacing: 4px;
    background-color: #E5C4D1;
    color: #586271;
    margin: auto;
}

.icon {
    display: inline;
    color: #586271;

}

.footer {
    display: inline;
}


/*-------------------------------------Legal info at bottom of every page*/
.legal p {
    font-style: 'Inter', sans-serif;
    font-size: smaller;
    color: #9C99A3;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}