@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



/*---------------------------------------------------Navbar*/
#nav {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #586271;
    background-color: #FFF0F6;
}


/*-----------------------------------------------------------------Home Page*/
/*---------------------------Home page titles*/
.title {
  font-family: 'Playfair Display', serif;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #586271;  
  text-align: center;
  border-bottom: 9px solid #E5C4D1;
  border-top: 9px solid #E5C4D1;
}

.homeTitle {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Playfair Display', serif;
    background-color: #FFF0F6;
    color: #586271;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    border-bottom: 9px solid #E5C4D1;
    border-top: 9px solid #E5C4D1;
}

/*---------------------------Text on home page*/
.homeText {
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    letter-spacing: 3px;
    background-color: #FFF7FA;
    color: #212B35;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    text-align: center;
}

/*------------------------------------------------------------------------Blog page*/
.blogTop {
  font-family: 'Playfair Display', serif;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #586271;  
  text-align: center;
  border-bottom: 9px solid #E5C4D1;
  border-top: 9px solid #E5C4D1;
}

.blogHeading {
    font-family: 'Playfair Display', serif;
    color: #586271;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 9px solid #E5C4D1;
    border-top: 9px solid #E5C4D1;
    
}

.thumbnail {
    padding-top: 70px;
    padding-bottom: 30px;
}

.thumbnail h4 {
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
color: #9C99A3;
text-transform: uppercase;
letter-spacing: 3px;
}

.thumbnail p {
    text-decoration: none;
    padding-bottom: 10px;
    text-align: center;
}

.readMore {
    text-decoration: none;
    color: #E5C4D1;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}


/*-----------------------------------------------------------------------Blog Success Page*/
/*--------------------------Headings on blog success pages*/

.successBlog h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #586271;
    letter-spacing: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 9px solid #E5C4D1;
}

.successBlog p {
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 9px solid #E5C4D1;
    border-top: 9px solid #E5C4D1;
}

/*----------------------------------Google Maps*/

div#map {min-height: 360px;}

#map {
    padding-top: 30px;
    padding-bottom: 30px;
}


/*-----------------------------------------------------------------------Contact Page*/
/*-------------------------------------Form*/
.formHeading  h1 {
  font-family: 'Playfair Display', serif; 
  color: #586271; 
  font-size: 200%;
  padding-top: 40px;
  text-align: center;

}
.form {
    padding-top: 50px;
}

/*-------------------------------------Send button*/

.sendButton {
    float: right;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    padding-top: 20px;
}
.sendText {
    text-decoration: none;
    color: #586271;
}

/*-------------------------------Image of contact page*/

.contactimg {
    width: 300px;
    height: auto;

}


/*----------------------------------------------Kind Words Heading*/
.kindWords h1 {
font-family: 'Playfair Display', serif; 
  color: #586271; 
  font-size: 300%;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 30px;
  border-bottom: 9px solid #E5C4D1;
  border-top: 9px solid #E5C4D1;
}
/*-------------------------------------Clients comments*/

.review p {
    color: #586271;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;

}
/*------------------------------------- Couples names*/

.review h4 {
    color: #9C99A3;
    letter-spacing: 5px;
    font-family: 'Playfair Display', serif;
    text-align: right;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
/*-----------------------------------------------------------------------Contact Me form Success page */

.submit h1 {
    color: #586271;
    letter-spacing: 5px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-transform: uppercase;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 90px;
    padding-bottom: 70px;
}

.successImg {
    width: 100%;
    margin: auto;
    padding-bottom: 70px;
    margin-top: 40px;
}

.bottom {
    padding-bottom: 30px;
}

/*-------------------------------------footer on all pages*/

.social {
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    background-color: #E5C4D1;
    display: flex;
    margin: auto;
    

}
.social ul {
    color: #9C99A3;
    text-align: center;
    list-style: none;
    background-color: #E5C4D1;
    margin: auto;
}

.social p {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 200%;
    letter-spacing: 4px;
    background-color: #E5C4D1;
    color: #586271;
    margin: auto;
}

.icon {
    display: inline;
    color: #586271;

}

.footer {
    display: inline;
    float: inherit;
}


/*-------------------------------------Legal info at bottom of every page*/
.legal p {
    font-style: 'Inter', sans-serif;
    font-size: smaller;
    color: #9C99A3;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}